@{
    ViewData["Title"] = "Home Page";
    Layout = "_TestLayout";
}

<div class="row flex-lg-nowrap">
    <div class="col mb-3">
        <div class="e-panel card">
            <div class="card-body">
                <div class="card-title">
                    <h6 class="mr-2"><span>Renew Your Policy</span><small class="px-1"></small></h6>
                </div>
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <form asp-action="RenewPolicyResult" asp-controller="MarketPlace" method="post" novalidate>
                            <table class="table table-bordered">
                               
                                <tbody>

                                    <tr>

                                        <td class="text-nowrap align-middle">
                                            
                                        @ViewBag.Message and your policy number is @ViewBag.trackingNumber

                                        </td>



                                    </tr>
                                    
                                </tbody>
                            </table>
                            </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   
</div>

