@{
    ViewData["Title"] = "Home Page";
    Layout = "_TestLayout";
}
@model IEnumerable<MerchantAcquirerAPI.Data.Models.Domains.LGA>
<div class="row flex-lg-nowrap">
    <div class="col mb-3">
        <div class="e-panel card">
            <div class="card-body">
                <div class="card-title">
                    <h6 class="mr-2"><span>Product List</span><small class="px-1"></small></h6>
                </div>
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>


                                    <th>SN</th>
                                    <th>LGA Name</th>
                                   
                                    <th>List Providers</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowNo = 0;}
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@(rowNo += 1)</td>
                                                                <td class="text-nowrap align-middle">@item.LGAName</td>
                                                           
                                                                <td class="text-nowrap align-middle"><a asp-controller="MarketPlace" asp-action="PayPolicy" asp-route-StateCode="@item.StateCode" asp-route-LGAName="@item.LGAName">Buy Policy</a></td>

                                                            </tr>
                                                        }
                                                    </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   
</div>

