@{
    ViewData["Title"] = "Home Page";
    Layout = "_TestLayout";
}
@model MerchantAcquirerAPI.Services.AxaMansard.DTO.AxaMansardDTO.RenewRequest
<div class="row flex-lg-nowrap">
    <div class="col mb-3">
        <div class="e-panel card">
            <div class="card-body">
                <div class="card-title">
                    <h6 class="mr-2"><span>Renew Your Policy</span><small class="px-1"></small></h6>
                </div>
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <form asp-action="RenewPolicyResult" asp-controller="MarketPlace" method="post" novalidate>
                            <table class="table table-bordered">
                               
                                <tbody>

                                    <tr>

                                        <td class="text-nowrap align-middle">
                                            <input type="text" asp-for="TrackingNumber" class="form-control" id="TrackingNumber" name="TrackingNumber" placeholder="Enter Track Number">
                                            <br /> <div class="inputBox">
    <input type="submit" class="btn btn-primary" Value="Submit" style="width:160px">
    <br />
</div>
                                        </td>



                                    </tr>
                                    
                                </tbody>
                            </table>
                            </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   
</div>

